/*Le agregamos el margen de 0, un relleno o padding de 0 
y por último un box-sizing: border-box, para poder ver como todo
ahora se pega**/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Vamos a poner propiedad html, ahora con el comportamiento
del scroll, quiero que tengas un smooth, ósea suave**/

html{
    scroll-behavior: smooth;
}


/*Vamos al cuerpo o body de nuestro web html y pegamos
la tipografía de raleway de google fonts*/

body{
    font-family: 'Raleway', sans-serif;
}


/*Vamos al estilo con la clase hero, copiamos el gradient sacado de webgradient, ponemos
url, salimos de la ruta de css y vamos a img con la imagen de ZionDental Carousel.png**/
/*
.hero{
    /*background-image: linear-gradient(to top, rgba(255, 154, 157, 0.694) 0%, rgba(254, 207, 239, 0.694) 99%, #fecfef 100%), url("../img/Servicios_4.png");
    width: 100%;
    height: 712px;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    /*Para que nada salga del hero
    overflow: hidden;
}
*/
.header{
    width: 100%;
    height: 545px;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    /*Para que nada salga del hero*/
    overflow: hidden;
}

#fotoHistoria{
    background-image: linear-gradient(to top, rgba(255, 154, 157, 0.694) 0%, rgba(254, 207, 239, 0.694) 99%, #fecfef 100%), url(/img/Equipo\ Zion.png);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 1077px;
}

/*Vamos a la clase textos hero, parte donde está el encabezado de 
bienvenida con la foto. Con esto el texto se pone uno al lado del otro y
la ola azul se pone abajo.
Para saber más de flex, ingresar a esté link:
https://developer.mozilla.org/es/docs/Web/CSS/flex*/

.textos-hero{
    height: 440px;
    color: #fff;
    display: flex;
    /*Con un flex direction column, le decimos a los textos que se
    orden por columna y no por fila*/
    flex-direction: column;
    /*Centrar el contenido(textos) en el navegador entre y alrededor 
    de los items flex. Para saber más de está propiedad, visita:
    https://developer.mozilla.org/es/docs/Web/CSS/justify-content*/
    justify-content: center;
    /*Con está propiedad los centramos horizontalmente y verticalmente  */
    align-items: center;
}

/*Ahora le daremos estilos al h1, aumentando el tamaño fuente de la letra*/
.textos-hero h1{
    font-size: 60px;
}


.textos-hero p{
    font-size: 25px;
    /*Esto es para que no se pegue al botón de contactanos, para hacer espacio*/
    margin-bottom: 20px;
}

/*Vamos a modificar los elementos a que estén todos dentro de textos-hero*/
.textos-hero a{
    /*Para tener propiedades de bloque y de línea*/
    display: inline-block;
    /*Text Decoration para quitar el subrayado*/
    text-decoration: none;
    /*Padding 12px arriba y abajo, también 15px a los lados,
    con esto lo hacemos más grande el link de contactanos*/
    padding: 12px 15px;
    background: #89e9d7;
    /*Ahora para redondearlo usamos:*/
    border-radius: 8px;
    /*Color del texto blanco*/
    color: #fff;
}

.textos-hero a:hover{
    text-decoration: none;
    color: #f7ebf2;
}

/*Sección reservaHorario: Página de Reserva*/
.reservas{
    /*Con esto las tarjetas se pone uno al lado del otro*/
    display: flex;
    width: 100%;
    /*Espacio entre las cards equitativamente*/
    justify-content: space-evenly;
    /*Si sobrepasa el elemento(cards) que se ponga debajo del otro*/
    flex-wrap: wrap;
}

/*Texto arriba de la tarjeta*/
.reservaPresencial h2{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 45px;
}
/*Texto arriba de la tarjeta*/
.agenda h2{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 45px;
}

/*Configuraciones para las tarjetas de las reservas*/
.tarjeta{
    /*Si quieres saber más de está propiedad, visita:
    https://developer.mozilla.org/en-US/docs/Web/CSS/text-align*/
    text-align: center;
    padding: 10px;
    /*Con esto se hace la parte del sombra en nuestra tarjeta*/
    box-shadow: 0 0 3px 0 rgba(0,0, 0, .5);
    /*Para que no pase nada*/
    transform: scale(1);
    /*Le decimos que tenga un transition de la propiedad transform,
    si le quitamos la transición 0.6 el efecto se ve golpe*/
    transition: transform 0.6s;
    margin-bottom: 40px;
    /*Se acomodo al centro la tarjeta*/
    width: 283px;
    position: relative;
    left: 9.5007px;
    height: 251px;
}
/*Configuraciones para la imagen dentro de la tarjeta*/
.tarjeta img{
    /*30px arriba, 0 hacía la derecha, 20px abajo y 0 a la izquierda*/
    margin: 30px 0 20px 0;
    /*Para hacerlo má grande*/
    font-size: 50px;
    width: 30%;
}

/*Cuando se pase el cursor sobre el card, queremos que cambie su box-shadow
a 6px y  */
.tarjeta:hover{
    box-shadow: 0 0 6px 0 rgba(0,0, 0, .5);
    /*Un transform scale de 1.03 para crecer un poco(card)*/
    transform: scale(1.03);
    /*Para saber más de está propiedad, visitar:
    https://developer.mozilla.org/es/docs/Web/CSS/cursor*/
    cursor: pointer;
}

/*Ahora vamos con la clase svg-hero, el cual es la ola azul*/
.svg-hero{
    /*Para posicionarse inmediatamente del padre que tiene un posisición relative,
    para saber más de ello, visita:
    https://developer.mozilla.org/es/docs/Web/CSS/position*/
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    /*Con estás propiedades fijamos totalmente que la ola azul
    siempre esté en la posición de abajo y nunca se vaya de esa parte,
    siempre estará en la parte de abajo  */
}

/*Estilos Generales,
le decimos a las clases:
*contenedor
*wave-contenedor
Las configuraciones adecuadas en el css
*/
.contenedor,
.wave-contenedor{
    width: 90%;
    overflow: hidden;
    margin: auto;
    /*arriba y abajo, 0 0, 80px abajo y 0 hacía los lados*/
    padding: 0 0 80px 0 ;
}

/*Ahora solamente a contenedor le damos un padding arriba y abajo de 80px y 0 hacía los lados */
.contenedor{
    padding: 80px 0;
}

/*Ponemos estilos a los titulos*/
.titulo{
    font-weight: 320;
    text-align: center;
    margin-bottom: 30px;
}

/*La clase titulo con la clase left y right al lado,
le decimos que tenga las siguientes características en css*/

.titulo.left{
    text-align: left;
    margin-top: -44px;
}


/*
.titulo.right{
    text-align: right;
}
*/

/* Section, tenemos la clase website, el cual es el 1er elemento */

.website-history{
    /*Para que se pongan los elementos uno al lado del otro*/
    display: flex;
    /*Espacio entre los elementos*/
    justify-content: space-between;
}

/*A la ilustración dentro del website le decimos que tenga
un ancho del 48% para que pueda compartir espacios con los textos*/
/*.website-history img{
    width: 30%;
    height: 250px;
    display: block;
    margin: auto;
    margin-right: 150px;
}
*/

/*Con el space-between logramos el espacio entre el texto y la imagen
en la sección del website*/
.website-history .contenedor-textos-main{
    width: auto;
    height: auto;
}

/*Le decimos a la clase parrafo que tenga un text-align y un margin bottom para
que tenga espacio entre el título y también el enlace(Aprende más) */
.parrafo{
    text-align: justify;
    font-family: -webkit-pictograph;
    margin-bottom: 35px;
}

/*Todos los elementos con la clase cta van a tener:*/
.cta{
    /*Para tener propiedades de línea y de bloque*/
    display: block;
    margin: auto;
    /*Para saber más de está propiedad, visitar:
    https://developer.mozilla.org/es/docs/Web/CSS/text-decoration*/
    text-decoration: none;
    background-image: linear-gradient(45deg, #9aeeff 0%, #c4fafa 99%, #b0f3eb 100%);
    /*12px arriba y 15px hacía los lados*/
    padding: 12px 15px;
    width: 43%;
    margin-top: 5px;
    border-radius: 8px;
    color: #fff;
    text-align: center;
    justify-content: start;
} 

#ctaHistoria{
    /*Para tener propiedades de línea y de bloque*/
    display: block;
    margin: auto;
    /*Para saber más de está propiedad, visitar:
    https://developer.mozilla.org/es/docs/Web/CSS/text-decoration*/
    text-decoration: none;
    background-image: linear-gradient(45deg, #9aeeff 0%, #c4fafa 99%, #b0f3eb 100%);
    /*12px arriba y 15px hacía los lados*/
    padding: 12px 15px;
    width: 10%;
    margin-top: 5px;
    border-radius: 8px;
    color: #fff;
    text-align: center;
    justify-content: start;   
}

.cta:hover{
    color:#f8c9e6;
    text-decoration: none;
}

/*Sección de Información
.info{
    background: #89e9d7;
    color: #fff;
}
*/

/*Sección con la clase Cards
class="content cards"
*/
.content-cards{
    /*Con esto las tarjetas se pone uno al lado del otro*/
    display: flex;
    width: 100%;
    /*Espacio entre las cards equitativamente*/
    justify-content: space-evenly;
    /*Si sobrepasa el elemento(cards) que se ponga debajo del otro*/
    flex-wrap: wrap;
}   

/*Si se le pone a un card el width del 30% ningúno sobrepasa, en cambio, 
si lo ponemos al 60% todo sobrepasan y se ponen uno debajo del otro*/
.card{
    width: 30%;
    /*Si quieres saber más de está propiedad, visita:
    https://developer.mozilla.org/en-US/docs/Web/CSS/text-align*/
    text-align: center;
    height: auto;
    padding: 10px;
    /*Con esto se hace la parte del sombra en nuestra tarjeta*/
    box-shadow: 0 0 3px 0 rgba(0,0, 0, .5);
    /*Para que no pase nada*/
    transform: scale(1);
    /*Le decimos que tenga un transition de la propiedad transform,
    si le quitamos la transición 0.6 el efecto se ve golpe*/
    transition: transform 0.6s;
    margin-bottom: 15px;
}

/*Cuando se pase el cursor sobre el card, queremos que cambie su box-shadow
a 6px y  */
.card:hover{
    box-shadow: 0 0 6px 0 rgba(0,0, 0, .5);
    /*Un transform scale de 1.03 para crecer un poco(card)*/
    transform: scale(1.03);
    /*Para saber más de está propiedad, visitar:
    https://developer.mozilla.org/es/docs/Web/CSS/cursor*/
    cursor: pointer;
}

/*Elementos i dentro de card*/
.card i{
    /*30px arriba, 0 hacía la derecha, 20px abajo y 0 a la izquierda*/
    margin: 30px 0 20px 0;
    color: #89e9d7;
    /*Para hacerlo má grande*/
    font-size: 50px;
}


.card img{
    /*30px arriba, 0 hacía la derecha, 20px abajo y 0 a la izquierda*/
    margin: 30px 0 20px 0;
    /*Para hacerlo má grande*/
    font-size: 50px;
    width: 30%;
}

/*El elemento p dentro de la clase card(en article)*/
.card p{
    font-weight: 300px;
    font-size: 15px;
    /*Como se sobrepone el margen sobre (aprende más), 
    así que en card le damos la propiedad para que tenga un 60% de ancho*/
    margin-bottom: 10px;
    margin-top: 5px;
}

/*Galeria*/

.galeria{
    background: #dff3f0;
}

/*La clase que está en article*/
.galeria-cont{
    /*Para conocer más de la propiedad css flex-box, visitar:
    https://developer.mozilla.org/es/docs/Web/CSS/CSS_Flexible_Box_Layout/Basic_Concepts_of_Flexbox*/
    width: 100%;
    display: flex;/*La imagenes hacía al lado*/
    flex-wrap: wrap;/*Se pone una debajo del otro*/
    /*Espacio entre las imagenes de la galeria equitativamente*/
    justify-content: space-evenly;
    /*Para que nada salga del contenedor de la galeria*/
    overflow: hidden;
}


/*Dentro de la galeria le decimos a la imagen que tenga un ancho del 30%*/
.galeria-cont>img{
    width: 30%; 
    height: 290px;
    /*Para saber más de está propiedad, visitar:
    https://developer.mozilla.org/es/docs/Web/CSS/object-fit*/
    object-fit: cover;
    margin-bottom: 20px;
    display: block;
    box-shadow: 0px 0px 3px 0px rgba(0,0, 0, .5);
    /*  cursor: pointer;/*Para mostrar el cursor cuando se acerca a la imagen(la manito)*/
    overflow: hidden;
}

/*info 2*/
.last-section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-bottom: 40px;
}

.last-section img{
    display: block;
    margin: auto;
    width:auto;
    height: auto;
}

.last-section .contenedor-textos-main{
    width: 40%;
}

/*Footer*/
footer{
    background: #89e9d7;
    color: #fff;
}

/*Creamos los estilos para el formulario*/
.form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input{
    background: transparent;
    border:0;
    color: #fff;
    outline: none;
    border: 1px solid #fff;
    padding: 20px 10px;
}

.input::placeholder{
    color: #fff;
    font-family: 'raleway', 'sans-serif';
}

/*Input que tenga los atributos de tipo texto y email*/
input[type="text"],
input[type="email"]{
    display: inline-block;
    width: 49%;
    margin-bottom: 30px;
}

.form textarea{
    /*para desplazar el botón enviar*/
    width: 100%;
    margin-bottom: 15px;
}

input[type=submit]{
    width: 120px;
    text-align: center;
    /*14px arriba y abajo, 0 hacía los lados*/
    padding: 14px 0;
}

input[type=submit]:hover{
    /*Cada que pase el mouse:*/
    cursor: pointer;
    color: #02FFD1;
    background: #fff;   
}

/*Estilos para el icono de WhatsApp*/
.appWhatsapp{
    position: fixed;
    right: 26px;
    bottom: 220px;
    width: 60px;
    z-index: 1000;
}

.appWhatsapp img{
    width: 100%;
    height: auto;
}

.appInstagram{
    position: fixed;
    right:  26px;
    bottom: 130px;
    width: 55px;
    z-index: 1000;
}

.appInstagram img{
    width: 100%;
    height: auto;
}

/*Barra ir arriba*/
.ir-arriba {
	display:none;
	padding:20px;
	background:#f8c9e6;
	font-size:20px;
	color:#fff;
	cursor:pointer;
	position: fixed;
	bottom:20px;
	right:20px;
}

@media screen and (min-width:400px) and (max-width:800px){
    .textos-hero h1{
        text-align: center;
        font-size: 50px; 
    }
    /*Estilos Generales*/
    .titulo{
        font-size: 35px;
    }

    .titulo.left{
        text-align: center;
    }
    
    .info p{
        text-align: center;
    }

    /*Section*/
    .website-history{
        /*Para que se ponga uno encima del otro(texto con la imagen)*/
        /*flex-direction: column-reverse;*/
        /*Esto lo que hará será centrarlos*/
        justify-content: center;
        align-items: center;
    }
    
    /*
    .website-history img{
        width: 55%;
        margin: 20px;
    }
    */
    .website .contenedor-textos-main{
        width: 100%;
    }

    .website .contenedor-textos-main a{
        width: 50%;
        /*Para centrar imagen*/
        display:block;
        margin:auto;
    }

    .contenedor-textos-main .parrafo{
        text-align: justify;
    }


    /*Cards o nuestros servicios*/
    .card{
        /*Recordar que se da un flex-wrap con un width del 90%*/
        width: 90%;
        margin-bottom: 20px; 
    }
    /*Galeria*/
    .galeria-cont>img{
        /*A todas las imagenes adentro le damos un ancho del 48%, en vez de tener 3 imagenes
        hacía abajo, ahora tendremos 2 imagenes por fila*/
        width: 48%;
    }

    /*A la última sección de info  como ya se le había dado un flex wrap, ahora solamente lo que 
    tenemos que hacer es agrandar el tamaño para que se todo se haga automáticamente*/
    .last-section{
        width: 98%;
    }

    .last-section .contenedor-textos-main{
        width: 98%;
        margin-bottom: 20px;
    }

    /*Se centra todos los botones con la clase cta*/
    .contenedor-textos-main a{
        max-width: 150px;
        height: auto;
        display: block;
        margin: auto;
        text-align: center;
    }
    /*En la clase last-section en el a(ancla) se da un ancho específico*/

    .last-section img{
        width: 50%;
        /*Para centrar imagen*/
        display:block;
        margin:auto;
    }

    .last-section a{
        width: 150px;
    }
}


/*Ahora se hará la responsividad a 200px*/
@media screen and (min-width:200px) and (max-width:400px) {
    .textos-hero{
       color: #fff;
        display: flex;
        /*Con un flex direction column, le decimos a los textos que se
        orden por columna y no por fila*/
        flex-direction: column;
        /*Centrar el contenido(textos) en el navegador entre y alrededor 
        de los items flex. Para saber más de está propiedad, visita:
        https://developer.mozilla.org/es/docs/Web/CSS/justify-content*/
        justify-content: center;
        /*Con está propiedad los centramos horizontalmente y verticalmente  */
        align-items: center;
        /*margin-top: -489px;*/
    }

    .reserva h2{
        text-align: center;
    }

    .titulo,
    .textos-hero h1{
        font-size: 30px;
        text-align: center;
    }

    .card{
        width: 85%;
        margin-bottom: 5vw;
        
    }

    .card p{
        font-size: medium;
        /*Como se sobrepone el margen sobre (aprende más), 
        así que en card le damos la propiedad para que tenga un 60% de ancho*/
        margin-bottom: 10px;
        margin-inline-end: inherit;
    }

    .card a{
        margin-top: 10px;
        display: block;
        text-align: center;
        justify-content: center;
        width: 35%;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }
  
    .textos-hero p{
        font-size: medium;
        margin: 10px;
        text-align: center;
    }

    /*La clase website que contiene: 
    <h2 class="titulo left">Historia</h2>
    <p class="parrafo">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo recusandae quo, 
    corrupti aspernatur numquam eaque molestias impedit minima id maiores!</p>
    <a href="" class="cta">Aprende más</a>
    La dirección se pone a la reserva de las columnas del contenido
    */
    .website-history{
        flex-direction: column-reverse;
    }

    /*Dentro de la clase contenedor-textos-main centralizamos el contenido 
    por bloque y definimos su ancho*/
    .website-history .contenedor-textos-main{
        display: block;
        margin: auto;
        width: 80%;
        text-align: center;
    }
    /*Para centrar el titulo de historia*/
    .website-history .contenedor-textos-main .titulo.left{
        text-align: center;
    }

    /*Para centralizar el boton de aprende más con el texto correspondiente y su ancho*/
    .website-history .contenedor-textos-main a{
        display:block;
        margin: auto;
        width: 45%;/*Se pone en auto para que se adapte automáticamente al ancho */
        height: auto;
        text-align: center
    }

    /*Se configura la imagen dentro de la clase website para ser centralizada y definir su ancho*/
    .website-history img{
        width: 100px;
        display: block;
        margin: auto;
        /*Espacio del margen arriba de la imagen*/
        margin-top: 20px;
    }

    /*Seccion que hacemos?*/
    .contenedor .titulo.left{
        text-align: center;
    }


    /*Sección nuestros servicios o cards*/
    .contenedor .content-cards .card{
        width: 95%;
        height: auto;
        padding: 15px;
    }

    /*Galeria*/
    .galeria-cont>img{
        width: 48%;
    }

    /* Last Section
    .last-section  .contenedor-textos-main{
        display:block;
        margin:auto;
        width: auto;
    }

    .last-section  a{
        display: block;
        width: 35%;
        text-align: center;
        justify-content: center;  
        margin: auto ;
        margin-bottom: 25px;
    }
    */
    /*Toma la última clase declarada en el html:
    <div class="contenedor last-section">
    .last-section img{
        width: 70%;
        /*Para centrar botón
        display:block;
        margin:auto;
    }
    
    .contenedor-textos-main .parrafo{
        text-align: justify;
    }
    */
    /*Arreglar icono WhatsApp*/
    .appWhatsapp{
        position: fixed;
        right: 26px;
        bottom: 220px;
        width: 60px;
        z-index: 1000;
    }
    
    .appWhatsapp img{
        width: 100%;
        height: auto;
    }
    .appInstagram{
        position: fixed;
        right:  26px;
        bottom: 110px;
        width: 55px;
        z-index: 1000;
    }

    .appInstagram img{
        width: 100%;
        height: auto;
    }
}    