/*Le agregamos el margen de 0, un relleno o padding de 0 
y por último un box-sizing: border-box, para poder ver como todo
ahora se pega**/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Vamos a poner propiedad html, ahora con el comportamiento
del scroll, quiero que tengas un smooth, ósea suave**/

html{
    scroll-behavior: smooth;
}


/*Vamos al cuerpo o body de nuestro web html y pegamos
la tipografía de raleway de google fonts*/

body{
    font-family: 'Raleway', sans-serif;
}

/*Vamos al estilo con la clase hero, copiamos el gradient sacado de webgradient, ponemos
url, salimos de la ruta de css y vamos a img con la imagen de ZionDental Carousel.png**/

.hero{
    background-image: linear-gradient(to top, rgba(255, 154, 157, 0.694) 0%, rgba(254, 207, 239, 0.694) 99%, #fecfef 100%), url("../img/Servicios_4.png");
    width: 100%;
    height: 650px;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    /*Para que nada salga del hero*/
    overflow: hidden;
}

/*Vamos a la clase textos hero, parte donde está el encabezado de 
bienvenida con la foto. Con esto el texto se pone uno al lado del otro y
la ola azul se pone abajo.
Para saber más de flex, ingresar a esté link:
https://developer.mozilla.org/es/docs/Web/CSS/flex*/

.textos-hero{
    height: 500px;
    color: #fff;
    display: flex;
    /*Con un flex direction column, le decimos a los textos que se
    orden por columna y no por fila*/
    flex-direction: column;
    /*Centrar el contenido(textos) en el navegador entre y alrededor 
    de los items flex. Para saber más de está propiedad, visita:
    https://developer.mozilla.org/es/docs/Web/CSS/justify-content*/
    justify-content: center;
    /*Con está propiedad los centramos horizontalmente y verticalmente  */
    align-items: center;
}

/*Ahora le daremos estilos al h1, aumentando el tamaño fuente de la letra */
.textos-hero h1{
    font-size: 60px;
}

.textos-hero p{
    font-size: 25px;
    /*Esto es para que no se pegue al botón de contactanos, para hacer espacio*/
    margin-bottom: 20px;
}

/*Vamos a modificar los elementos a que estén todos dentro de textos-hero**/
.textos-hero a{
    /*Para tener propiedades de bloque y de línea*/
    display: inline-block;
    /*Text Decoration para quitar el subrayado*/
    text-decoration: none;
    /*Padding 12px arriba y abajo, también 15px a los lados,
    con esto lo hacemos más grande el link de contactanos*/
    padding: 12px 15px;
    background: #a18cd1;
    /*Ahora para redondearlo usamos:*/
    border-radius: 8px;
    /*Color del texto blanco*/
    color: #fff;
}

/*Ahora vamos con la clase svg-hero, el cual es la ola azul*/
.svg-hero{
    /*Para posicionarse inmediatamente del padre que tiene un posisición relative,
    para saber más de ello, visita:
    https://developer.mozilla.org/es/docs/Web/CSS/position*/
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    /*Con estás propiedades fijamos totalmente que la ola azul
    siempre esté en la posición de abajo y nunca se vaya de esa parte,
    siempre estará en la parte de abajo  */
}

/*Estilos Generales,
le decimos a las clases:
*contenedor
*wave-contenedor
Las configuraciones adecuadas en el css
*/
.contenedor,
.wave-contenedor{
    width: 90%;
    max-width: 1000px;
    overflow: hidden;
    margin: auto;
    /*arriba y abajo, 0 0, 80px abajo y 0 hacía los lados*/
    padding: 0 0 80px 0 ;
}

/*Ahora solamente a contenedor le damos un padding arriba y abajo de 80px y 0 hacía los lados */
.contenedor{
    padding: 80px 0;
}

/*Ponemos estilos a los titulos*/
.titulo{
    font-weight: 300;
    text-align: center;
    margin-bottom: 30px;
}

/*La clase titulo con la clase left y right al lado,
le decimos que tenga las siguientes características en css*/

.titulo.left{
    text-align: left;
}

/*
.titulo.right{
    text-align: right;
}
*/

/* Section, tenemos la clase website, el cual es el 1er elemento */

.website{
    /*Para que se pongan los elementos uno al lado del otro*/
    display: flex;
    /*Espacio entre los elementos*/
    justify-content: space-between;
}

/*A la ilustración dentro del website le decimos que tenga
un ancho del 48% para que pueda compartir espacios con los textos*/
.website img{
    width: 48%;
}

/*Con el space-between logramos el espacio entre el texto y la imagen
en la sección del website*/
.website .contenedor-textos-main{
    width: 40%;
}

/*Le decimos a la clase parrafo que tenga un text-align y un margin bottom para
que tenga espacio entre el título y también el enlace(Aprende más) */
.parrafo{
    text-align: justify;
    margin-bottom: 20px;
}

/*Todos los elementos con la clase cta van a tener:*/
.cta{
    /*Para tener propiedades de línea y de bloque*/
    display: inline-block;
    /*Para saber más de está propiedad, visitar:
    https://developer.mozilla.org/es/docs/Web/CSS/text-decoration*/
    text-decoration: none;
    background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
    /*12px arriba y 15px hacía los lados*/
    padding: 12px 15px;
    border-radius: 8px;
    color: #fff;
} 

/*Sección de Información */
.info{
    background: #f5576c;
    color: #fff;
}

/*Sección con la clase Cards
class="content cards"
*/
.content-cards{
    /*Con esto las tarjetas se pone uno al lado del otro*/
    display: flex;
    width: 100%;
    /*Espacio entre las cards equitativamente*/
    justify-content: space-evenly;
    /*Si sobrepasa el elemento(cards) que se ponga debajo del otro*/
    flex-wrap: wrap;
}   

/*Si se le pone a un card el width del 30% ningúno sobrepasa, en cambio, 
si lo ponemos al 60% todo sobrepasan y se ponen uno debajo del otro*/
.card{
    width: 30%;
    /*Si quieres saber más de está propiedad, visita:
    https://developer.mozilla.org/en-US/docs/Web/CSS/text-align*/
    text-align: center;
    height: 300px;
    /*Con esto se hace la parte del sombra en nuestra tarjeta*/
    box-shadow: 0 0 3px 0 rgba(0,0, 0, .5);
    /*Para que no pase nada*/
    transform: scale(1);
    /*Le decimos que tenga un transition de la propiedad transform,
    si le quitamos la transición 0.6 el efecto se ve golpe*/
    transition: transform 0.6s;
}

/*Cuando se pase el cursor sobre el card, queremos que cambie su box-shadow
a 6px y  */
.card:hover{
    box-shadow: 0 0 6px 0 rgba(0,0, 0, .5);
    /*Un transform scale de 1.03 para crecer un poco(card)*/
    transform: scale(1.03);
    /*Para saber más de está propiedad, visitar:
    https://developer.mozilla.org/es/docs/Web/CSS/cursor*/
    cursor: pointer;
}

/*Elementos i dentro de card:*/
.card i{
    /*30px arriba, 0 hacía la derecha, 20px abajo y 0 a la izquierda*/
    margin: 30px 0 20px 0;
    color: #cc9199;
    /*Para hacerlo má grande*/
    font-size: 50px;
}